.preview {
	text-align: left;
	font-size: 1rem;
	margin-bottom: 20px;
	box-sizing: content-box;
}

.preview>header {
	margin-bottom: 10px;
}
.preview>header::before{
	content: attr(index)  ".";
	margin-right: 10px;
	float: left;
}
.preview>header::after{
	content: "(" attr(num) "分)";
	margin-left: 10px;
	font-size: 14px;
	color: #444;
}
.preview>header>*:first-child {
	display: inline;
	padding: 0px !important;
	margin: 0px !important;
}

/*选项区*/
.preview>article {
	margin-left: 25px;
}

.preview>article>div {
	min-height: 30px;
}

.preview>article>div p:first-child, .preview>article>div div:first-child, .preview>article>div table:first-child {
	display: inline-block;
	padding: 0px !important;
	margin: 0px !important;
}

.preview>article>div::before {
	content: attr(index)  ".";
	float: left;
	margin-right: 10px;
	padding-top: 3px;
	box-sizing: border-box;
}

/*判断题*/
.preview>article[questype='3'] {
	display: flex;
}

.preview>article[questype='3']>div {
	margin-right: 20px;
	padding: 4px 18px;
	border: solid 1px #ccc;
	border-radius: 6px;
	font-size: 14px;
	min-height: 20px;
}
.preview>article[questype='3']>div::before{
	content: "";
	margin-right: 0px;
	padding-top: 0px;
}
/*填空题*/
.preview>article[questype='5']>div {
	line-height: 40px;
	height: 40px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ccc;
}

/*简答题*/
.preview>article[questype='4']>textarea {
	width: calc(100% - 50px);
	box-sizing: border-box;
}

@media print {
	.preview>article[questype='4']>textarea {
		line-height: 40px;
		margin-bottom: 10px;
		border: none;
	}

	*::-webkit-scrollbar {
		display: none;
	}
}