@charset "utf-8";

.panel {
    height: calc(100% - 55px);
}

.el-form {
    height: calc(100% - 40px);
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.el-form>div[tab] {
    padding: 10px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

.el-form>div[tab="general"] {
    display: flex;
}

.el-form>div[tab="general"]>section.left {
    width: 500px;
    overflow: auto;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

section.left .el-form-item:last-child {
    flex: 1;
    margin-bottom: 0px !important;
}

.el-form-item__content {
    height: 100%;
}

section.left .el-form-item:last-child .el-textarea {
    height: 100%;
    display: flex;
}

.el-textarea>* {
    flex: 1;
}

/*右侧*/
.el-form>div[tab="general"]>section.right {
    flex: 1;
    margin-left: 5px;
}

section.right .el-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section.right .el-card .el-card__header {
    display: flex;
    justify-content: space-between;
}

section.right .el-card .el-card__body {
    flex: 1;
    overflow-y: auto;
}

/*场次*/
.items .exam_name {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    font-size: 1rem;
}
.items .exam_name>span:first-child{
    margin-right: 10px;
}
.items .exam_name .btns {
    margin-left: auto;
}
.items .row{
    line-height: 30px;
}
/*参加考试的学员数量*/
.grouptype>div.el-form-item__content icon[student] {
    float: right;
}

.stscount {
    margin-left: 10px;
    color: #909399;
}