@charset "utf-8";

#vapp {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}


/*试题类型选中后的区域*/
.navibar{
    margin-bottom: 25px;
    box-sizing: border-box;
    height: 25px;
    display: flex;
}
.navibar>*{
    margin-right: 6px;
}
.upload_excel_area{
    height: calc(100% - 50px) !important;
}
/*返回按钮*/
.back{
    margin-right: 10px;
}
.back span{
    font-size: 16px;
}
.back icon{
    font-size: 22px;
}