<!DOCTYPE html>
<html lang="en">

<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" />
    <title>课程回收站</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="还原,删除" ref='btngroup' @delete="remove" @recycle="recycle" idkey='Cou_ID' :selects='selects'
                table="datatables"></btngroup>
            <query_panel :model="form" :loading="loading" @search="handleCurrentChange(1)">
                <el-form-item label="专业">
                    <sbj_cascader ref="subject" :orgid="form.orgid" showitem="child"
                        @change="id=>{form.sbjids=id;handleCurrentChange(1);}"> </sbj_cascader>
                </el-form-item>
                <el-form-item label="课程">
                    <el-input v-model="form.search" placeholder="课程名称" clearable style="width:200px"></el-input>
                </el-form-item>
                <template v-slot:more>
                    <el-form-item label="教师">
                        <el-select v-model="form.thid" clearable filterable remote reserve-keyword placeholder="教师名称"
                            :remote-method="teacher_query" :loading="loadstate.teacher" style="width:160px">
                            <el-option v-for="(item,i) in teachers" :key="item.Th_ID" :label="item.Th_Name"
                                :value="item.Th_ID">
                                <span>{{i+1}} .</span>
                                <icon :woman="item.Th_Gender==2" :man="item.Th_Gender==1">{{ item.Th_Name }}</icon>
                            </el-option>
                        </el-select>
                        <help>可输入名称检索</help>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-radio-group v-model="form.use">
                            <el-radio-button label="">全部</el-radio-button>
                            <el-radio-button label="true">启用</el-radio-button>
                            <el-radio-button label="false">禁用</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="直播课">
                        <el-radio-group v-model="form.live">
                            <el-radio-button label="">全部</el-radio-button>
                            <el-radio-button label="true">直播课</el-radio-button>
                            <el-radio-button label="false">普通课程</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="免费">
                        <el-radio-group v-model="form.free">
                            <el-radio-button label="">全部</el-radio-button>
                            <el-radio-button label="true">免费课程</el-radio-button>
                            <el-radio-button label="false">收费课程</el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                </template>
            </query_panel>
        </div>
         <!--课程列表-->
        <el-table ref="datatables" :data="datas" border resizable :stripe="true" style="width: 100%" v-loading="loading"
            @selection-change="val=>selects=val" row-key="Cou_ID"
            cell-class-name="tdcell">
            <div slot="empty" v-html="table_empty">  </div>
            <el-table-column type="selection" width="35">
            </el-table-column>
            <el-table-column type="index" label="#" width="50" align="center">
                <template slot-scope="scope">
                    <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                </template>
            </el-table-column>

            <el-table-column label="课程" min-width="200px">             
                <div slot-scope="scope" :class="{'title_box':true}" :title="scope.row.Cou_Name">
                    <icon class="recicon" v-if="scope.row.Cou_IsRec" title="推荐课程">&#xe741</icon>
                    <a :href="'/web/course/detail.'+scope.row.Cou_ID" target="_blank">
                        <img :src="scope.row.Cou_LogoSmall" v-if="scope.row.Cou_LogoSmall!=''" class="cou_logo" />
                        <img src="/Utilities/Images/cou_nophoto.jpg" v-else class="cou_logo" />
                    </a>
                    <div>
                        <el-tag type="warning" v-if="scope.row.Cou_Type">试题库</el-tag>
                        <live v-if="scope.row.Cou_Type!=2 && scope.row.Cou_ExistLive" title="直播课"></live>
                        <icon svg="ai2" title="AI助教" v-if="scope.row.Cou_EnabledAI">AI助教</icon>
                        <a :href="'/web/course/detail.'+scope.row.Cou_ID" target="_blank" underline
                            v-html="showsearch(scope.row.Cou_Name,form.search)" class="large"> </a>
                    </div>
                </div>
            </el-table-column>

            <el-table-column label="排序号" width="60" align="center" v-if="false">
                <template slot="header" slot-scope="scope">
                    <el-tooltip class="item" effect="dark" content="调整顺序的数值" placement="top">
                        <span>
                            <icon>&#xa026</icon>排序
                        </span>
                    </el-tooltip>
                </template>
                <template slot-scope="scope">
                    {{scope.row.Cou_Order}}
                </template>
            </el-table-column>
            <el-table-column label="价格" width="160">
                <template slot-scope="scope">
                    <keep-alive>
                        <course_prices :course="scope.row" :ref="'prices'+scope.$index" :uid="scope.row.Cou_UID"
                            :index="scope.$index">
                        </course_prices>
                    </keep-alive>
                </template>
            </el-table-column>
            <el-table-column label="信息" width="200" v-if="true">
                <template slot-scope="scope">
                    <course_data :ref="'course_data_'+scope.$index" :course="scope.row" :show_student="true"
                        :index="scope.$index"></course_data>
                </template>
            </el-table-column>
            <el-table-column label="所属专业">
                <template slot-scope="scope">
                    <a :href="'/web/course/index?sbjid='+scope.row.Sbj_ID" target="_blank" underline>
                        <icon>&#xe750</icon> {{scope.row.Sbj_Name}}
                    </a>
                </template>
            </el-table-column>
            <el-table-column label="教师" width="120" class-name="teacher_td">                
                <template slot-scope="scope">
                    {{scope.row.Th_Name}}
                </template>
            </el-table-column>
            <el-table-column label="操作" width="120" align="center">
                <template slot-scope="scope">
                    <span class="el-icon-loading" v-if="loadingid==scope.row.Cou_ID"></span>
                    <el-button-group v-else>
                        <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info"
                            icon-color="red" title="确定还原吗？"
                            @confirm="$refs.btngroup.events('recycle',scope.row.Cou_ID)">
                            <el-link type="warning" plain slot="reference">
                                <icon>&#xa014</icon>还原
                            </el-link>
                        </el-popconfirm>

                        <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info"
                            icon-color="red" title="将永久删除该数据，确定吗？" @confirm="$refs.btngroup.delete(scope.row.Cou_ID)">
                            <el-link type="danger" plain icon="el-icon-delete" slot="reference"> 删除
                            </el-link>
                        </el-popconfirm>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <!--分页导航-->
        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-size="form.size"
                :pager-count="10" layout="total, prev, pager, next, jumper" :total="total">              
            </el-pagination>
        </div>
    </div>
</body>

</html>