.selectknl {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.selectknl .searchbar {
    padding: 0.5rem;
}
.selectknl>div:last-child { 
    flex: 1;
    padding: 0px 0.5rem;
    overflow: auto;
}