@charset "utf-8";

:root {
    /*页面背景色*/
    --bg-color: rgb(59 147 235);
    /*管理界面的背景色*/
    --admin-bg-color: rgb(27, 87, 148);
    /*标题的颜色*/
    --title-color: rgb(255, 255, 255);
    /*时间的颜色*/
    --time-color: #ccc;
    /*预载条，前景色、背景色*/
    --loading-color: rgb(255, 255, 255);
    --loading-shadow: rgb(2, 2, 2);
    --loading-background: radial-gradient(circle,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%);
}


panel#admin {
    background: url('bg.jpg');
    background-size: cover;
}

#mainbody>div:first-child {
    box-shadow: 1px 1px 1px 1px rgba(232, 232, 232, .3);
}