
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #666;
}

body {
	background-image: linear-gradient(to bottom right, #999, #ccc, #666);
}

#vapp {
	width: 800px;
	height: calc(100% - 20px);
	margin: 10px auto;
	position: relative;
	text-align: left;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
}