/*考试主题*/
card-title {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}
.theme card-title>*:first-child{
	margin-right: auto;
} 
.theme card-title>*:last-child{
	margin-left: 20px;
}
card.my_exam card-title a {	
	color: #fff;
	background-color: #07c160;
	border: 1px solid #07c160;
	font-size: 12px;
	line-height: 20px;
	padding: 3px 10px;
	height: 20px;
}

card-content {
	font-size: 16px;
	padding-left: 30px;
}

.item {
	line-height: 30px;
}

card-content>div>div.item:first-child {
	margin-top: 10px;
}
card-content>div>div.item:not(:first-child) {
	margin-left: 20px;
}

.exam_tit{
    display: flex;
    justify-content: space-between;
}

a[type="button"] {
    color: #fff;
    background-color: #07c160;
    border: 1px solid #07c160;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 10px;
    height: 20px;
}