<!DOCTYPE html>
<html lang="en">

<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" />
    <title>考试主题</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header ref="header" @load="(o,c,p)=>{org=o,config=c,platinfo=p}" @login="acc=>account = acc">loading ...
        </page_header>
        <loading v-if="loading">加载中...</loading>
        <context>

            <card class="theme" shadow="hover">
                <card-title>
                    <header>
                        <b>{{theme.Exam_Title}}</b>
                        <span small>{{theme.Exam_Intro}}</span>
                    </header>              
                    <el-tag v-if="theme.Exam_GroupType == 1">全体学员</el-tag>
                    <el-tag type="success" v-if="theme.Exam_GroupType == 2">限定学员组</el-tag>
                    <el-tag type="warning" v-if="theme.Exam_GroupType == 3">指定学员</el-tag>
                    <el-tooltip effect="light" content="Bottom Right 提示文字" placement="bottom-end">
                        <icon large class="qrcode-icon">&#xa053</icon>
                        <div slot="content">
                            <div :id="'exam-qrcode'+theme.Exam_ID" class="qrcode"></div>
                        </div>
                    </el-tooltip>
                </card-title>
                <card-content>
                    <theme_item v-for="(e,index) in exams" :exam="e" :theme="theme" :index="index" :account="account"></theme_item>
                </card-content>
            </card>
        </context>
    </div>
</body>

</html>