<!DOCTYPE html>
<html lang="en">

<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" />
    <title>考试主题</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header ref="header" @load="(o,c,p)=>{org=o,config=c,platinfo=p}" @login="acc=>account = acc">loading ...
        </page_header>
        <loading v-if="loading">加载中...</loading>
        <context>
            <header>{{theme.Exam_Title}}</header>
            <section>{{theme.Exam_Intro}}</section>
            <card class="theme"  shadow="hover">
                <card-title>                  
                    <el-tag v-if="theme.Exam_GroupType == 1">全体学员</el-tag>
                    <el-tag type="success" v-if="theme.Exam_GroupType == 2">限定学员组</el-tag>
                    <el-tag type="warning" v-if="theme.Exam_GroupType == 3">指定学员</el-tag>
                    <el-tooltip effect="light" content="Bottom Right 提示文字" placement="bottom-end">
                        <icon large>&#xa053</icon>
                        <div slot="content"><div :id="'course-qrcode'+theme.Exam_ID"></div></div>
                    </el-tooltip>           
                </card-title>
                <card-content>        
 
                </card-content>
              </card>
        </context>
    </div>
</body>

</html>