<!DOCTYPE html>
<html lang="en">

<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" />
    <title>固定试卷</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <section class="left">
            <el-card shadow="never" type="info" class="theme">
                <template slot="header">
                    <papertype type="1"></papertype>
                    <el-button type="primary" plain @click="openpaperinfo('SetupPaperInfo','设置试卷信息','e667',600)">设置试卷信息
                    </el-button>
                </template>
                <p class="tpname">
                    <span v-if="entity.Etp_Name==''" class="null">(试卷名称-未命名)</span>
                    <template v-else>{{entity.Etp_Name}}</template>
                </p>
                <p class="tpsubname">
                    <span v-if="entity.Etp_SubName==''" class="null">(未编写副标题)</span>
                    <template v-else>{{entity.Etp_SubName}}</template>
                <div class="tpinfo">
                    <span>考试时间 {{entity.Etp_Span}} 分钟</span>
                    <span>满分 {{entity.Etp_Total}} 分</span>
                    <span> {{entity.Etp_PassScore}} 分 及格</span>
                </div>
                <div class="tpremind">
                    注意事项:<br />
                    <span v-if="entity.Etp_Remind==''" class="null">(未编写注意事项)</span>
                    <span v-else v-html="entity.Etp_Remind"></span>
                </div>
            </el-card>
            <section class="content">

            </section>
        </section>
        <section class="right">
            <el-form ref="form" :model="entity" :rules="rules" @submit.native.prevent
                label-width="100px">
                <el-card shadow="never" type="success">
                    <template slot="header">
                        <span icon="&#xe829" huge>卷面信息</span>
                        
                    </template>
                    <el-form-item label="" prop="Etp_Total" label-width="0">
                        <el-input v-model="entity.Etp_Total" type="number" :min="1">
                            <template slot="prepend">满分</template>
                            <template slot="append">分</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="" prop="Etp_PassScore" label-width="0">
                        <el-input v-model="entity.Etp_PassScore" type="number" :min="0" :max="entity.Etp_Total">
                            <template slot="prepend">及格</template>
                            <template slot="append">分</template>
                        </el-input>
                    </el-form-item>
                
                </el-card>
                <el-card shadow="never" type="primary">
                    <template slot="header">
                        <span icon="&#xe75e" medium>题卡</span>

                    </template>

                </el-card>
            </el-form>
        </section>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" :loading="loading" plain
                @click="btnEnter('form',true)">确认</el-button>
            <el-button type="primary" define="apply" native-type="submit" :loading="loading" plain v-if="isadd"
                @click="btnEnter('form',false)">应用</el-button>
            <el-button type='close'>取消</el-button>
        </div>
    </div>
</body>

</html>