<!DOCTYPE html>
<html lang="en">
<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" /> 
    <title>试卷的回收站</title>
</head>
<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="删除,还原" ref='btngroup' :disabled="loading" :selects='selects' idkey='Etp_Id'
                @delete="deleteData"  @recycle="recycle"  table="datatables" path="Modify" width="900" height="500">
            </btngroup>
            <query_panel :model="form" :width="45" :loading="loading" @search="handleCurrentChange(1)">
                <template>
                    <el-form-item label="标题">
                        <el-input v-model.trim="form.search" clearable style="width:245px" placeholder="搜索试卷标题">
                        </el-input>
                    </el-form-item>
                </template>
                <template slot="more">
                    <el-form-item label="难度">
                        <el-radio-group v-model="form.diff">
                            <el-radio-button label="">所有</el-radio-button>
                            <el-radio-button v-for="(n,i) in ['很简单', '简单', '有难度', '比较难', '很难']" :label="i+1">
                                {{n}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </template>
            </query_panel>
        </div>
        <!-- 数据列表-->
        <el-table ref="datatables" border resizable :data="datas" tooltip-effect="dark" style="width: 100%" stripe
            @selection-change="val=>selects=val" row-key="Etp_Id">
            <div slot="empty">
                <span v-if="!loading">未查询到数据</span>
            </div>
            <el-table-column type="selection" width="35">
            </el-table-column>
            <el-table-column label="#" type="index" width="60" align="center">
                <template slot-scope="scope">
                    <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                </template>
            </el-table-column>

            <el-table-column label="试卷名称">
                <template slot-scope="scope">
                    <span v-html="showsearch(scope.row.Etp_Name,form.search)" class="medium"></span>
                </template>
            </el-table-column>
            <el-table-column label="类型" align="center" width="120">
                <template slot-scope="scope">
                    <papertype :type="scope.row.Etp_Type"></papertype>
                </template>
            </el-table-column>
            <el-table-column label="副标题">
                <template slot-scope="scope">
                    <span v-html="showsearch(scope.row.Etp_SubName,form.search)"></span>
                </template>
            </el-table-column>
            <el-table-column label="分数" align="center" width="120">
                <template slot-scope="scope">
                    <span v-html="scope.row.Etp_PassScore" title="及格分"></span> /
                    <span v-html="scope.row.Etp_Total" title="满分"></span> 分
                </template>
            </el-table-column>
            <el-table-column label="题量" align="center" width="120">
                <template slot-scope="scope">
                    {{scope.row.Etp_Count}} 道
                </template>
            </el-table-column>
            <el-table-column label="限时" width="100">
                <template slot-scope="scope">
                    <icon>&#xe81a</icon> {{scope.row.Etp_Span}} 分钟
                </template>
            </el-table-column>

            <el-table-column label="难度" width="100" align="center">
                <template slot-scope="scope">
                    {{scope.row.Etp_Diff}} - {{scope.row.Etp_Diff2}}
                </template>
            </el-table-column>
            <el-table-column label="启用" width="100" align="center">   
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.Etp_IsUse" @change="changeState(scope.row)" :disabled="true" active-color="#13ce66"
                        inactive-color="#ff4949" v-show="loadingid!=scope.row.Etp_Id"
                        :active-text="scope.row.Etp_IsUse ? '启用' : '禁用'">

                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column label="操作" width="120">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info"
                            icon-color="red" title="确定还原吗？"
                            @confirm="$refs.btngroup.events('recycle',scope.row.Etp_Id)">
                            <el-link type="warning" plain slot="reference">
                                <icon>&#xa014</icon>还原
                            </el-link>
                        </el-popconfirm>
                        <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info"
                            icon-color="red" title="将永久删除该数据，确定吗？" @confirm="$refs.btngroup.delete(scope.row.Etp_Id)">
                            <el-link type="danger" plain icon="el-icon-delete" slot="reference">删除
                            </el-link>
                        </el-popconfirm>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>

        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-size="form.size"
                :pager-count="12" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>
</body>
</html>