<!DOCTYPE html>
<html lang="en">

<head resource>
    <meta charset="UTF-8">
    <include file="../inc/meta.inc" />
    <title>试题关键字</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="清空" ref='btngroup' idkey='Qtag_ID'>
            </btngroup>
            <query_panel :model="form" :loading="loading">
                <el-form-item label="">
                    <el-tag type="success">
                        {{selecteditems.length}} 关键字，共 {{selecteditems.reduce((total, item) => total + item.Qtag_Count,
                        0)}} 道试题
                    </el-tag>
                </el-form-item>
                <el-form-item label="">
                    <el-input  v-model="form.name" clearable style="width:120px" placeholder="检索"
                        suffix-icon="el-icon-search"></el-input>
                </el-form-item>
            </query_panel>
        </div>
        <div class="data-box">
            <el-checkbox border v-for="item in datas" v-model="item.checked" @change="changeSelect">{{item.Qtag_Name}}
                <span class="qcount" question :zero="item.Qtag_Count<=0">({{item.Qtag_Count|commas}} 道)</span>
            </el-checkbox>
        </div>
    </div>
</body>

</html>