/*试题区*/

dl.quesArea {
    height: calc(100% - 40px);
    background-color: #f2f2f2;
    width: 100%;
    z-index: 4;
    left: 0px;
    position: relative;
    transition: left 0.5s;
    overflow: hidden;
    /* 禁止iOS浏览器默认双击缩放、滚动回弹，交给Hammer接管 */
    touch-action: manipulation;
    /* 允许触摸事件穿透子元素冒泡 */
    pointer-events: auto;  

}

dl.quesArea,
.quesArea dd {
    padding: 0px;
    margin: 0px;
}

.quesArea dd {
    touch-action: pan-y;
}
.quesArea * {
    touch-action:none;     
}


/*没有试题的提示*/
dl.quesArea .noques {
    font-size: 18px;
    text-align: center;
    color: #999;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

dl.quesArea .noques icon {
    display: block;
    margin: 10px 0px !important;
    font-size: 80px;
}